# Binaries
timelapse
timelapse.exe
/logscene
logscene.exe
logscene.exe~

# Runtime data files
timelapse.json
logscene.json

# Test binary, built with `go test -c`
*.test

# Go coverage tool output
*.out
coverage
coverage.html
cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Logs
*.log
logs/

.vscode/launch.json
