# Binaries
timelapse
timelapse.exe

# Test binary, built with `go test -c`
*.test

# Go coverage tool output
*.out
coverage
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Logs
*.log
logs/

.vscode/launch.json
